<!--
  Generated template for the ConfirmationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>确认单</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header text-center class="upper turnRed">
      <!-- C<span>onfirmation</span> -->
      Confirmation
    </ion-list-header>

    <ion-item>
      <ion-label class="turnRed">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status:</ion-label>
      <ion-input readonly class="changeRed" value="Confirmed"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Booking No:</ion-label>
      <ion-input readonly class="changeBlue" value="11710128668246"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;&nbsp;Booking Date:</ion-label>
      <ion-input class="setWidth" value="2017-11-02" readonly>
      </ion-input>
      <span>(YYYY-MM-DD)</span>
    </ion-item>

    <ion-item>
      <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HotelName:</ion-label>
      <ion-input readonly value="Katathani Phuket Beach Resort"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;Hotel Address:</ion-label>
      <!-- <ion-textarea readonly value="ddd" placeholder=""></ion-textarea> -->
      <ion-input value="14 Kata Noi Road,Muang,Phuket, Thailand" text-wrap></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hotel TEL:</ion-label>
      <ion-input readonly value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;&nbsp;Check-In Date:</ion-label>
      <ion-input readonly value="2017-11-02"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Check-out Date:</ion-label>
      <ion-input readonly value="2017-11-04"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;&nbsp;No.of Night(s):</ion-label>
      <ion-input readonly value="2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;No.of Room(s):</ion-label>
      <ion-input readonly value="1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="turnRed">Special Request:</ion-label>
      <ion-textarea readonly class="changeRed" value="No-Smiking Room, honey moon decoration"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header text-right>
      (currency:CNY)
    </ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row class="changeTableBack">
          <ion-col col-3>Room Type</ion-col>
          <ion-col col-4>Meals</ion-col>
          <ion-col col-3>Guest Name</ion-col>
          <ion-col col-2>Price</ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col class="changeMargin" col-3>Chic Suite</ion-col>
          <ion-col class="changeMargin" col-4>with 2 breakfasts</ion-col>
          <ion-col col-3>LIU/YANG
            <br>CAI/HUIHAN
          </ion-col>
          <ion-col class="changeMargin" col-2>2643</ion-col>
        </ion-row>
        <ion-row class="addBorderB" justify-content-between>
          <ion-col col-3>
            Total
          </ion-col>
          <ion-col class="turnRed" col-2>
            2643
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
    </ion-item>
  </ion-list>
  <ion-list>
    <h6 class="turnRed"> Cancel Deadline: 2017-10-12</h6>
    <!-- <ion-list-header  class="turnRed" text-left>
      Cancel Deadline: 2017-10-12
    </ion-list-header> -->
    <ion-item>
      <ion-grid>
        <ion-row class="changeTableBack">
          <ion-col col-7>Day</ion-col>
          <ion-col col-5>Cancel Fee</ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col class="changeMargin" col-7>~ 2017-10-12</ion-col>
          <ion-col class="changeMargin" col-5>0</ion-col>
        </ion-row>
        <ion-row  class="addBorderB" justify-content-between>
          <ion-col class="turnBlue" col-7>
            2017-10-12 ~ 2017-11-02
          </ion-col>
          <ion-col col-5>
            Non Refundable
          </ion-col>
        </ion-row>
      </ion-grid>
      <h6>Detail Cancellation Policy:</h6>
      <p text-wrap>不可取消，不可修改。订房未入住或提早退房者，酒店恕不退费</p>
    </ion-item>

  </ion-list>
</ion-content>
