@import "../../theme/variables.scss";

page-confirmation {
    ion-input{
        margin: 0 !important;
        padding: 0 !important;
    }
    .upper{
        border-color: black;
        border-bottom-style: solid !important;
        color:color($colors,danger,base)!important;
        font-size: 3rem !important;
        span{
            text-transform: lowercase;
        }
    }
    .turnRed{
        color:color($colors,danger,base) !important;
    }
    .turnBlue{
        color:color($colors,primary,base) !important ;

        text-decoration: underline;
        font-weight: bold;
    }
    input{
        width: 100% !important;
    }
    ion-item{
        // border-bottom: 1px dotted !important;
        // border-style: dotted !important;
        font-size: 1.3rem !important;
        padding:0 !important;
        ion-label{
            padding-left: 10px;
            // margin: 0 !important;
        }
    }
div.item-inner{
    // border-bottom: 6px solid red;
    // padding-right: 0 !important;
}


.text-input{
    margin: 0 !important;
}

.changeRed input[readonly]
{
    color:red;
}
.changeRed textarea[readonly]
{
    color:red;
}
.changeBlue input[readonly]
{
    color:color($colors,primary,base);

    text-decoration: underline;
    font-weight: bold;
}
input[readonly]{
    white-space: normal;
}
.changeMargin{
    padding-bottom: 12px;
    padding-top: 13px;

}
.addBorderB{
border-bottom: 1px solid;
}
ion-row{
    border-top: 1px solid;
    border-left: 1px solid;
    border-left: 1px solid;
}
ion-col{

    border-right: 1px solid black;
}
.changeTableBack{
    background-color: #B5D0FF;
}

}
