<!--
  Generated template for the InvoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>结算单</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header class="upper" text-center>
      Caesars Palace Hotel
    </ion-list-header>

    <p text-center>3570 Las Vegas Blvd. outh, Las Vegas, USA</p>
    <ion-label text-center>Tel:</ion-label>
    <ion-label text-center>Fax:</ion-label>
  </ion-list>
  <ion-list>
    <ion-list-header text-center class="turnRed">
      INVOICE
    </ion-list-header>
    <ion-item>
      <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Invoice No:</ion-label>
      <ion-input readonly type="text" value="H2557775893"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;&nbsp;&nbsp;Booking No:</ion-label>
      <ion-input readonly type="number" value="11712181564677"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Booking Date:</ion-label>
      <ion-input readonly type="text" value="H2557775893"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City:</ion-label>
      <ion-input readonly type="text" value="Las Vegas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hotel:</ion-label>
      <ion-input readonly type="text" value="Caesars Palace Hotel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Guest Name:</ion-label>
      <ion-input readonly type="text" value="MINGHUI/WANG"></ion-input>
    </ion-item>
  </ion-list>




  <ion-list>
      <h6 class="turnGrey" text-right>(currency:CNY)</h6>
    <ion-grid>
      <ion-row class="changeFont changeTableBack">
        <ion-col>Room Type</ion-col>
        <ion-col>CheckIn
          <br>CheckOut</ion-col>
        <ion-col>Nights</ion-col>
        <ion-col>No.of Room(s)</ion-col>
        <ion-col>Meals</ion-col>
        <ion-col>Price</ion-col>
      </ion-row>

      <!-- <ion-row  align-items-center class="changeFont changeTableBack">
        <ion-col col-auto align-self-baseline>Room Type</ion-col>
        <ion-col >CheckIn<br>CheckOut</ion-col>
        <ion-col >Nights</ion-col>
        <ion-col >No.of Room(s)</ion-col>
        <ion-col >Meals</ion-col>
        <ion-col >Price</ion-col>
      </ion-row> -->
      <ion-row class="addBorderB">
        <ion-col>Forum Classic, 1 King Bed,Non-Smoking</ion-col>
        <ion-col>2018-03-15
          <br>2018-03-15</ion-col>
        <ion-col text-center>1</ion-col>
        <ion-col>1</ion-col>
        <ion-col>Room Only</ion-col>
        <ion-col>2254.73</ion-col>
      </ion-row>
    </ion-grid>



  </ion-list>

  <ion-list>
    <h6 class="turnRed"> Cancel Deadline: 2018-03-08</h6>
    <!-- <ion-list-header  class="turnRed" text-left>
        Cancel Deadline: 2017-10-12
      </ion-list-header> -->
    <ion-grid>
      <ion-row class="changeTableBack">
        <ion-col col-7>Day</ion-col>
        <ion-col col-5>Cancel Fee</ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col class="changeMargin" col-7>~ 2017-10-12</ion-col>
        <ion-col class="changeMargin" col-5>0</ion-col>

      </ion-row>
      <ion-row class="addBorderB" justify-content-between>
        <ion-col class="turnBlue" col-7>
          2017-10-12 ~ 2017-11-02
        </ion-col>
        <ion-col col-5>
          Non Refundable
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  
  <ion-list>
      <h6 class="turnGrey" text-right>(currency:CNY)</h6>
      <ion-grid>
        <ion-row class="changeTableBack">
          <ion-col col-5>Reservation</ion-col>
          <ion-col col-4>Cancel Fee</ion-col>
          <ion-col col-3>Total</ion-col>
        </ion-row>
        <ion-row class="addBorderB">
            <ion-col col-5>0</ion-col>
          <ion-col class="changeMargin" col-4>0</ion-col>
          <ion-col class="turnRed" col-3>0</ion-col>

        </ion-row>

      </ion-grid>
    </ion-list>
</ion-content>
