page-invoice {
    .turnBlue{
        color:color($colors,primary,base) !important ;
        text-decoration: underline;
        font-weight: bold;
    }
    .turnRed{
 
            color:color($colors,danger,base) !important;
    
    }
    .turnGrey{
        color:#7B7B7B;
    }
    .upper{
        border-bottom: 2px solid black !important;
        font-size: 2rem !important;

    }
    .changeTableBack{
        background-color: #B5D0FF;
    }

    ion-row{
        border-top: 1px solid;
        border-left: 1px solid;
        border-left: 1px solid;
    }
    ion-col{
        // #7B7B7B
        // #C8C7CC
    border-right: 1px solid black;
// padding:1px !important;
        font-size: 1.2rem !important;
        // font-size:auto;
    }
    .changeMTop{
margin-top:9px;
    
    }
    .addBorderB{
        border-bottom: 1px solid;
        }
    // ion-item{
    //     border-bottom:1px dotted  !important;
    // }
}
