<!--
  Generated template for the OrderDetailMorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar color="primary">


    <ion-title>
      订单详情
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="openModal()">
        刷新
      </button>
    </ion-buttons>
  </ion-navbar>



  <ion-card>
    <ion-card-header color="secondary">
      <h2>
        <strong class="setLetterSpaceing">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          &nbsp;&nbsp;预订成功
        </strong>
      </h2>
    </ion-card-header>
    <ion-card-content>
      <button ion-item>
        <strong>凯撒皇宫大酒店（Caesars Palace Hotel）</strong>
      </button>
      <p>3570 Las Vegas Boulevard South, 拉斯维加斯大道，拉斯维加斯，NV 89109,美国 </p>
      <p>2018-03-15入住&nbsp;&nbsp;2018-03-16离店&nbsp;&nbsp; 共一晚</p>
      <p>房型： 经典Forum 客房(禁烟房)(1间)</p>
      <p>早餐： 不含早餐</p>
    </ion-card-content>
    <!-- 
    <ion-card-content>
      <button ion-item><h3><strong>凯撒皇宫大酒店（Caesars Palace Hotel）</strong> </h3></button>
      <h3>
        <strong>凯撒皇宫大酒店（Caesars Palace Hotel）</strong>
      </h3>
      <p>2018-03-15入住&nbsp;&nbsp;2018-03-16离店&nbsp;&nbsp;</p>
      <p>房型： 经典Forum 客房(禁烟房)(1间)</p>
    </ion-card-content> -->

    <button ion-item>
      <ion-icon class="bold" color="secondary" name="ios-alert-outline">&nbsp;&nbsp; 免费取消 </ion-icon>
      <!-- <span color="secondary"></span> -->
    </button>
    <ion-item text-center>
      <ion-icon color="primary" ios="ios-call-outline" md="md-call"></ion-icon>
      <strong>客服电话</strong>
    </ion-item>
  </ion-card>
</ion-header>

<ion-content>
  <ion-list class="changeMagBom">
    <ion-item>
      <h2>
        <strong>2成人0儿童 | 中国大陆 </strong>
      </h2>
      <h2>
        <strong>MINGHUI/WANG | 大床</strong>
      </h2>
    </ion-item>

    <ion-item>
      <ion-label bold>
        订单金额
      </ion-label>
      <div item-content>
        <strong class="toRed"> &yen;2254.73</strong>
      </div>
    </ion-item>

  </ion-list>


  <ion-list class="changeMagBom">
    <ion-item>
      <ion-label>结算方式</ion-label>
      <ion-input readonly type="text" value="单结"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>订单号 &nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input readonly type="number" value="11712181564677"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>贵司单号</ion-label>
      <ion-input readonly type="email" value="123557"></ion-input>

      <button class="changeStyle" ion-button item-end>
        修改
      </button>
    </ion-item>

  </ion-list>
  <ion-list class="changeMagBom">
    <ion-item>
      <ion-label>联系人&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input readonly type="text" value="刘某某"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>联系方式</ion-label>
      <ion-input readonly type="number" value="13810454916"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>邮箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input readonly type="email" value="124277855@qq.com"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item text-wrap class="bold">
    <ion-label color="danger">
      <ion-icon class="bold" name="ios-alert-outline">&nbsp;&nbsp;注意事项
        <h4 class="bold"> &middot; 在重大节日或者庆典之间的订房，酒店有可能向客人直接收取强制性消费项目费用，如新年晚宴，圣诞派对等</h4>
      </ion-icon>
    </ion-label>

    <p>在重大节日或者庆典</p>
  </ion-item>

    <ion-grid class="changebtnMagBom">
      <ion-row text-center>
        <ion-col col-4>
          <button (click)="goToVoucher()" class="changebtnsty bold changePadding" outline ion-button color="primary">入住凭证</button>
        </ion-col>
        <ion-col col-4>
          <button (click)="goToConfirm()"  class="changebtnsty bold" outline ion-button color="primary">确认单</button>
        </ion-col>
        <ion-col col-4>
          <button  (click)="goToInvoice()" class="changebtnsty bold" outline ion-button color="primary">结算单</button>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <ion-buttons>
      <!-- <button ion-button outline>Primary Outline</button> -->
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button block ion-button outline>申请修改订单</button>
          </ion-col>
          <ion-col col-6>
            <button (click)="action()" block ion-button outline>取消订单</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
