page-order-detail-more {
  .toRed{
    color: #f53d3d;
}
  .bold {
    font-weight: bold;
  }
  .changeMagBom{
    margin-bottom: 12px;
  }
  .changePadding{
    padding-left: 8px;
    padding-right: 8px;
  }
  .changebtnMagBom{
    margin-bottom: 80px;
  }
  .changeStyle{

    background-color: white;
    color: #488aff;
    text-decoration: underline;
  }
  .changebtnsty{
    background-color: white;
    text-decoration: underline;
  }
  ion-card-header {
    background-color: rgb(230, 230, 230);
  }
  ion-header {
    background-color: #488aff;
  }
  ion-card-content {
    button {
      padding-left: 0 !important;
    }
  }
  ion-content{
    background-color: #e5e6e8 !important;
}
  ion-footer{
    .toolbar-background {
      background-color: #dae7ff !important;
    }
  }
}
button{
  text-decoration: underline;
}
span.giveTest{
  font-weight: bold;
  color:map-get($colors, danger);
//  background: map-get($colors, danger);
}
span.button-inner{
  text-decoration: underline;
}
div.alert-button-group button:first-child{
  color: black;
  font-weight: bold;
}


