<ion-header>
  <ion-navbar color="primary">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col col-1>

            <button ion-button icon-only color="primary">
              <ion-icon name="arrow-back"></ion-icon>
            </button>

        </ion-col>
        <ion-col col-11 >
          <ion-title>
              凯撒皇宫大酒店
            <!-- <h5 padding-top ion-text>凯撒皇宫大酒店</h5> -->
            <p ion-text   margin-top > Caesars Palace Hotel</p>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <p>Caesars Palace Hotel</p> -->
    <ion-card>
      <ion-grid>
        <ion-row text-center align-items-center>
          <ion-col col-4>
            <ion-label class="greyColor bold">入住</ion-label>
            <ion-datetime class="bold" displayFormat="YYYY-MM-DD" pickerFormat="MM/DD/YYYY"></ion-datetime>

          </ion-col>
          <ion-col col-4>
            <ion-label id="changeBorder">共几晚</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label class="greyColor bold">离店</ion-label>
            <ion-datetime class="bold" displayFormat="YYYY-MM-DD" pickerFormat="MM/DD/YYYY"></ion-datetime>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="bold">
            <p>房型： 经典Forum 客房(禁烟房)(1间)</p>
            <p>早餐： 不含早餐</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list margin-bottom>
    <ion-item>
      <ion-icon class="bold" color="secondary" name="ios-alert-outline">&nbsp;&nbsp;免费取消</ion-icon>
      <div>
        <ul class="bold">
          <li class="greyColor">2018-03-08 20:00 之前免費取消</li>
          <li class="greyColor">2018-03-08 20:00 之前免費取消</li>
          <li class="greyColor">订房未入住或提早退房者，酒店恕不退费</li>
        </ul>
      </div>
    </ion-item>
  </ion-list>


  <ion-list margin-bottom>
    <!-- Item with a label and content -->
    <ion-item>
      <ion-label>
        人数及间数
      </ion-label>
      <div item-content>
        2成人 0 儿童 X1 间
      </div>
    </ion-item>
    <!-- Item with a label and content -->
    <ion-item>
      <ion-label>
        客人国籍
      </ion-label>
      <div item-content>
        中国大陆
      </div>
    </ion-item>
  </ion-list>



  <ion-list>
      <ion-list-header text-center>
          客房1
          <ion-icon color="primary" name="ios-help-circle-outline"></ion-icon>
        </ion-list-header>
    <ion-item>
      <ion-label>主入住人</ion-label>
      <ion-input placeholder="姓,如LI" type="text" value=""></ion-input>
      <ion-input class="leftBorder" placeholder="名,如MING" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>床型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input type="text" value="大床"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item detail-push>
      <ion-label>特殊要求</ion-label>
      <ion-input readonly type="text" value="特殊要求以实际安排为准"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>贵司单号</ion-label>
      <ion-input text-wrap readonly type="text" value="便于管理自己的订单，不会发给酒店"></ion-input>
    </ion-item>
    <ion-item detail-push>
      <ion-label>结算方式</ion-label>
      <ion-input class="bold" readonly type="text" value="单结"></ion-input>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item>
      <ion-label>联系人&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input class="bold" readonly type="text" value="刘某某"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>联系方式</ion-label>
      <ion-input class="bold" readonly type="number" value="13810454916"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>邮箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input class="bold" readonly type="email" value="124277855@qq.com"></ion-input>
    </ion-item>
  </ion-list>



  <ion-list>
    <ion-item class="bold" text-wrap>
      <ion-icon class="bold" color="danger" name="ios-alert-outline">&nbsp;&nbsp;注意事项</ion-icon>
      <br/>
      <br/> 填写说明
      <br> &middot; 客人国籍：如实际入住人与订单国籍不符，可能导致加收费用或无法入住。 &middot;儿童提示：本房间价格仅适用于
      <span class="toRed"> 2成人0儿童</span>，如您携带儿童入住，
      <span class="toRed">请修改人数重新搜索房间</span>。
      <br> &middot;入住人姓名：请按照实际注入人证件上的

      <span class="toRed">英文/拼音</span>姓名填写。
      <br> &middot;主入住人：酒店以此姓名进行预订查询，如填写错误可能导致订单查询不到，甚至入住失败。
      <br> 出行提示
      <br> &middot;下单问题请联系客服，电话:4006332377， QQ:4008502377.
    </ion-item>

<p padding><ion-icon color="primary" name="checkmark-circle-outline"></ion-icon>我已经确定以上信息</p>
<p padding>隐私政策</p>

  </ion-list>
  <ion-list>
      <ion-item>
        My Item
        <ion-note item-end>
          Right Note
        </ion-note>
      </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    含税总价2254.73 明细
    <button outline large item-end ion-button (click)="goToPayMethod()">
        
       下一步
      </button>
  </ion-item>

  </ion-footer>