
page-home {
ion-content{
    background-color: #e5e6e8 !important;
}
ion-footer{
    // background-color: #a3c4ff !important;
}
.toRed{
    color: #f53d3d;
}
.changeBack{
background-color: red;
}

.subTitle{
    margin-top: -1rem;
}
.bold{
    font-weight: bold;
}
.greyColor{
    // color:darkgray;
    color:rgb(114, 114, 114);
}
.leftBorder{
    padding-left: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-left: 1px solid;
    border-left-color: #C8C7CC;
}
#changeBorder{
    color:rgb(114, 114, 114);
    font-size: 13px;
    padding-bottom: 3px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 3px solid;
    border-bottom-color: darkgrey;
}
}
