// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
    font-family: Roboto, "Microsoft Yahei","微软雅黑";
  }
  
  .energized {color:#ffc900}
  .aic-orange {color: #f79020}
  .aic-blue {color: #1e1d5a}
  .aic-light-blue {color:#00aeef;}
  .aic-bright-blue {color:#6dc6d7}
  .aic-red {color:#ed1c24}
  .aic-green {color:#00a651}
  .aic-brown {color:#c8954a; border-color: #c8954a;}
  .aic-star {color:#ff6a00}
  
  
  /* global classes */
  .bd-rds-5 { border-radius: 5px; }
  
  .row-w-btm-line { border-bottom: 1px solid lightgrey; }
  .row-w-tp-line { border-top: 1px solid lightgrey; }
  .row-w-lft-line { border-left: 1px solid lightgrey; }
  .row-w-rt-line { border-right: 1px solid lightgrey; }
  
  .no-bottom-border * { border-bottom: none!important; }
  
  /* box model */
  .wd-100p { width:100%; } .wd-mx-100p0 {max-width: 100%; }
  .wd-50p { width:50%; }
  .wd-33p { width:33.3%; }
  .wd-25p { width:25%; }
  
  .ht-100p { height: 100%; } .ht-50p {height: 50%;} .ht-33p { height: 33.3%; } .ht-25p { height: 25%; }
  
  .mg-10-0 { margin: 10px 0;}
  
  .pd-4-0 { padding: 4px 0;} .pd-20-0 { padding:20px 0;} .pd-4-10 {padding: 4px 10px;}
  .pd-lft-0 { padding-left: 0; } .pd-rt-0 { padding-right: 0; } .pd-tp-0 { padding-top:0; } .pd-bt-0 { padding-bottom: 0; }
  
  .divider-line { border-top: 1px solid lightgrey; }
  
  .bg-transp { background-color: transparent; }
  
  .cl-lightgrey { color: lightgrey; }
  
