<!--
  Generated template for the CheckInVoucherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>入住凭证</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

<div>
  <ion-segment [(ngModel)='lan']>
    <div>
    <ion-segment-button>英文版</ion-segment-button>
    <ion-segment-button>中文版</ion-segment-button>
  </div>
  </ion-segment>
  <ion-item no-lines>

  </ion-item>
</div>
</ion-content>
