<!--
  Generated template for the OrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>订单详情</ion-title>
  </ion-navbar>

  <ion-card>
    <ion-card-header color="secondary">
      <strong class="setLetterSpaceing">
        <ion-icon name="cash"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;订单支付成功
      </strong>
      <p>
        <strong>订单确认后会立刻邮件通知您，请您耐心等待</strong>
      </p>
    </ion-card-header>
    <ion-card-content>
      <h3>
        <strong>订单金额 &nbsp;&nbsp;
          <span class="turnRed">&yen;2254.73</span>
        </strong>
      </h3>
      <h3>
        <strong>凯撒皇宫大酒店（Caesars Palace Hotel）</strong>
      </h3>
      <p>2018-03-15入住&nbsp;&nbsp;2018-03-16离店&nbsp;&nbsp;</p>
      <p>房型： 经典Forum 客房(禁烟房)(1间)</p>
    </ion-card-content>
  </ion-card>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      <span class="changeLetterSpace">——————</span>
      <span class="changeWeight">&middot;</span>
      <ion-icon color="danger" name="heart"></ion-icon> 您可能还想预订
      <span class="changeWeight">&middot;</span>
      <span class="changeLetterSpace">——————</span>

    </ion-list-header>

    <ion-item>
      <ion-img start width="100" height="100" item-start src="../../assets/imgs/100x100.png"></ion-img>
      <ion-label>凯撒皇宫大酒店
        <p>Caesars Palace Hotel</p>
        <p>四星级|
          <span class="trunBlue">很棒， 89分 </span>| </p>
        <p>位于长街</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-img width="100" height="100" item-start src="../../assets/imgs/100x100.png"></ion-img>
      <ion-label>中央公园南希尔顿花园酒店
        <p>Hilton Garden inn Central Park South</p>
        <p>三星级|
          <span class="trunBlue"> 好极了 91分 </span>|</p>
        <p>位于曼哈顿中城</p>
      </ion-label>
      <!-- <ion-note item-end>The Interwebz</ion-note> -->
    </ion-item>
    <ion-item>
      <ion-img width="100" height="100" item-start src="../../assets/imgs/100x100.png"></ion-img>
      <ion-label>纽约中央公园丽思卡尔顿酒店
        <p>The Ritz-Carlton New York, Central Park</p>
        <p>五星级|
          <span class="trunBlue"> 好极了 93分 </span>|
          <ion-icon name="wifi"></ion-icon>
        </p>
        <p>位于曼哈顿中城</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-buttons>
      <!-- <button ion-button outline>Primary Outline</button> -->
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button outline (click)="showOrderDetailMore()">订单详情</button>
          </ion-col>
          <ion-col col-6>

            <button ion-button outline >返回首页</button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-buttons>
  </ion-toolbar>

</ion-footer>
