page-order-detail {
  .turnRed {
    color: #f53d3d;
  }
  .trunBlue {
    color: #488aff;
  }
  ion-header {
    background-color: #488aff;
  }
  ion-card-header {
    background-color: rgb(230, 230, 230);
  }
  ion-list-header {
    text-align: center;
    .changeLetterSpace {
      letter-spacing: -1.5px;
    }
    .changeWeight {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  ion-img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }
  ion-label{
      padding-left: 8px;;
  }
  ion-item {

    height: 100px;
    padding-left: 0 !important;
  }
  ion-col{
      button{
          width: 100%;
          text-decoration: underline !important;
      }
  }
  ion-footer{

    .toolbar-background {
      background-color: #dae7ff !important;
    }
  }

}
