<!--
  Generated template for the PayMethodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

    <ion-title>选择支付方式</ion-title>

  </ion-navbar>
  <div text-center class="tintRed notesOnTop">
    <p>请检查信息是否正确，并尽快提交订单， 避免订单改变</p>
  </div>
  <ion-card>
    <ion-card-header>
      <strong class="setLetterSpaceing">凯撒皇宫大酒店（Caesars Palace Hotel）</strong>
    </ion-card-header>
    <ion-card-content>
      <p>2018-03-15入住&nbsp;&nbsp;2018-03-16离店&nbsp;&nbsp;</p>
      <p>房型： 经典Forum 客房(禁烟房)(1间)</p>
      <p>早餐： 不含早餐</p>
    </ion-card-content>

    <button ion-item>
      <ion-icon class="bold" color="secondary" name="ios-alert-outline">&nbsp;&nbsp;免费取消</ion-icon>
      <span color="secondary"></span>
    </button>
  </ion-card>
</ion-header>


<ion-content>
  <ion-list no-lines>
    <ion-item>
      <ion-label>入住人数</ion-label>
      <ion-input readonly value="2成人0儿童" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>国籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input readonly type="text" value="中国大陆"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>客房1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
      <ion-input readonly type="text" value="MINGHUI/WANG"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>床型偏好</ion-label>
      <ion-input readonly type="text" value="大床"></ion-input>
    </ion-item>
    <ion-item></ion-item>
  </ion-list>


  <ion-list>
    <ion-item>
      <ion-label>结算方式</ion-label>
      <ion-input readonly type="text" value="单结"></ion-input>
    </ion-item>
    <ion-item>

        <ion-thumbnail>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>支付宝</h2>
        <p>跳转到支付宝平台进行支付</p>



    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-thumbnail item-start>
                  <img src="img/thumbnail-totoro.png">
                </ion-thumbnail>
          </ion-col>
          <ion-col>
              <h2>支付宝</h2>
              <p>跳转到支付宝平台进行支付</p>
          </ion-col>
          <ion-col>
              <ion-thumbnail item-start>
                  <img src="img/thumbnail-totoro.png">
                </ion-thumbnail>
          </ion-col>
        </ion-row>
      </ion-grid>

  
        <ion-radio>
          dddd
          <ion-checkbox color="dark" checked="true"></ion-checkbox>
        </ion-radio>
      </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    含税总价2254.73 明细
    <button outline large item-end ion-button (click)="goToOrderDetail()">
        
       下一步
      </button>
  </ion-item>

  </ion-footer>