page-pay-method {
  .tintRed {
    background-color: rgb(255, 204, 204);
  }
  .notesOnTop {
    margin-top: -1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    ;
  }
  .setLetterSpaceing {
    letter-spacing: 0.1rem;
  }
  ion-header {
    background-color: #488aff;
  }
}
